.logo-title-service {
  color: $white;
}
.header-service {
  margin-bottom: 20px;
  @media screen and(min-width:768px) {
    margin-bottom: 40px;
  }
  @media screen and(min-width:1024px) {
    margin-bottom: 73px;
  }
}
.footer-line-servise {
  background-color: transparent;
}
