.publications {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  background: $bg;
  padding: 20px 20px 40px 20px;

  @media screen and (min-width: 768px) {
    padding: 30px 30px 40px 30px;
  }
  @media screen and (min-width: 1024px) {
    padding: 40px 59px 0 59px;
    height: 872px;
    overflow: hidden;
  }
}
.overflow-container-pub {
  position: relative;
}
.button-box {
  position: relative;
  width: 260px;
  margin: 0 auto 20px auto;
  background: $separator;
  border-radius: 12px;
  @media screen and (min-width: 1024px) {
    margin: 0 auto 40px auto;
  }
}
.toggle-btn {
  position: relative;
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.16;

  color: $main;
}
.btn {
  position: absolute;
  left: 3px;
  top: 2px;
  height: 36px;
  width: 127px;
  background: $white;
  border-radius: 10px;
  transition: 0.5s;
}
.publications-paragraph {
  @extend %links;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: $button-regular;
}
.card-description {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.masonry-items {
  margin-bottom: 20px;

  @media screen and (min-width: 1024px) {
    margin-bottom: 40px;
  }
}
.masonry-items:nth-child(n + 6) {
  @media screen and (max-width: 639px) {
    display: none;
  }
}
.masonry-items:nth-child(n + 12) {
  @media screen and (min-width: 640px) {
    display: none;
  }
}
.masonry-items.is-visible {
  display: block;
}
.card {
  background: $white;
  border-radius: 8px;
}
.card-img {
  width: 100%;
}
.card-thmb {
  padding: 20px;
}

.card-button {
  @extend %links;
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  text-align: left;
  color: $button-regular;
}
.card-time {
  display: block;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $text;
}

.card-line {
  margin: 0 20px;
  border: 1px solid $separator;
  @media screen and (min-width: 768px) {
    border: 2px solid $separator;
  }
}
.card-text {
  margin: 0;
  padding: 20px;
  font-size: 16px;
  line-height: 1.38;

  color: $clients-9;
}

.publications-gradient {
  @media screen and (min-width: 1024px) {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 200px;
    width: 100%;
    background: linear-gradient(
      180deg,
      rgba(245, 245, 250, 0) 0%,
      #f5f5fa 86.5%
    );
  }
}

.btn-center {
  text-align: center;
  @media screen and (min-width: 1024px) {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
  }
}
.btn-center.is-active {
  position: static;
  transform: none;
}
.show-more {
  margin-top: 40px;
  padding: 16px 78px;
}
.show-more :hover,
.show-more :focus {
  background: $button-hover;
}
.show-more-pub {
  margin-top: 40px;
  padding: 16px 78px;
  &:hover,
  &:focus {
    background: $button-hover;
  }
}
